

@media  screen and (min-width:250px) {
  @import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');

  :root {
    --background: rgba(0, 214, 170, .85);
  }
  
  *, *::before, *::after {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
  }
  
 
  
  /* navigation styles start here */
  
  header {
    background: var(--background);
    text-align: left;
    position: fixed;
    z-index: 999;
    width: 100%;
    top:0;
    padding-left: 1em;
  }
  
  /* changed this from the tutorial video to
     allow it to gain focus, making it tabbable */
  .nav-toggle {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
  }
  
  .nav-toggle:focus ~ .nav-toggle-label {
    outline: 3px solid rgba(lightblue, .75);
  }
  
  .nav-toggle-label {
    position: absolute;
    top: 0;
    right:30px;
    height: 100%;
    display: flex;
    align-items: center;

  }
  
  .nav-toggle-label span,
  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
  }
  
  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    content: '';
    position: absolute;
  }
  
  .nav-toggle-label span::before {
    bottom: 7px;
  }
  
  .nav-toggle-label span::after {
    top: 7px;
  }
  
  nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--background);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav li {
    margin-bottom: 1em;
    margin-left: 1em;
    text-align: center;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
  }

  .logo{
    cursor: pointer;   
}
.logo a{
  text-decoration: none;
  color:rgb(78, 65, 63)
}
.logo h1{
  font-size: 2rem;
}

  
  nav a:hover {
    color: #000;
  }
  
  .nav-toggle:checked ~ nav {
    transform: scale(1,1);
  }
  
  .nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
  }
  

.margin-bottom{
    margin-bottom: 100px;
    display: block;
    width: 100%;
}


/*About me*/
#about-me{
    width: 100%;
}
.row{
   display: block;
}
.col-md-half{
    width:100%;
    text-align: center;
    margin-bottom: 20px;
}
.col-md-half img{
    width: 60%;
    border-radius: 50%;
    box-shadow:  5px 10px 15px 5px #d1c9c9;
}

span{
    color:rgb(241, 92, 66);

}

.col-md-half .about-title{  
    font-family: 'Lato', sans-serif;
    font-size: 35px; 
    text-align: center;
}
.col-md-half p, a{  
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    line-height: 25px;
}

.col-md-half a{
    font-weight: 400;
    text-decoration: none;
    background-image: linear-gradient(45deg,rgb(243, 124, 76),rgb(231, 42, 8));   
    border-radius: 4px;
    color: white;
  }
  .hire-btn{
    font-weight: 400;
    text-decoration: none;
    background-image: linear-gradient(45deg,rgb(243, 124, 76),rgb(231, 42, 8));   
    padding: 10px 20px;
    border-radius: 4px;
    color: white;
    border:none;
    font-size: 1.2em; 
  }
  #about-second-row{
    display: flex;
    flex-direction: column-reverse;
  }
  #about-second-row p{
    text-align: justify;
    margin:0 2%;
  }

  .title{
    text-align: center;
  }

  #row{
    display: flex;
    flex-direction: column;
  }

  .col-md-4{
    width: 300px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin:0 auto;
    margin-bottom: 30px;
    padding:10px;
  }
  .col-md-4 img{
    width: 100%;
    
  }
  .col-md-4 p{
   text-align: justify;
  }
  .more-btn-box{
    text-align: center;
  }

  
/* Start of chat section */
.chat-section{
  height: 500px;
  
}
.chat-btn{
  background-image: url("images/image4.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  width:90%;
  margin:0 auto;
  border-radius: 10px;
  padding:10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.chat-btn h2{
  font-family: 'Lato', sans-serif;
  color:white;
  font-size: 30px;
  margin: 0;
}


/* End of chat section */


/* Start of contact section */
.contact-info{
  width: 20%;
  margin: 20px auto 80px;
}
.contact-info p{
  display: block;
  margin:0 auto;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  margin-top: 20px;
}
.contact-info a{
  text-decoration: none;
  color: black;
}

.contact-info .fab{
  margin-right: 5px;
}
.contact-info .fa-facebook-square{
  color: rgb(74, 74, 219);
}
.contact-info .fa-github{
  color: black;
}

/* End of contact section */

footer{
  font-size: 18px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
}


}
@media  screen and (min-width: 850px) {
 
     
  .nav-toggle-label {
    display: none;
  }

  header {
    margin: 0;
    position: fixed;
    top:0;
    display: grid;
    grid-template-columns: 1fr auto minmax(650px, 3fr) 1fr;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }
  
  .logo {
    grid-column: 2 / 3;
  }
  /* .logo h1{
      color:rgb(252, 246, 255);
      cursor: pointer;
  }
  .logo .fab{
      color:red!important;
  } */
  nav {
  
    
    /* the following lines are add Edge support */
    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1,1);
    background: none;
    top: initial;
    left: initial;
    
    /* end Edge support stuff */
    
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  nav ul {
    display: flex;
    
  }
  
  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }
  
  nav a {
    opacity: 1;
    position: relative;
    font-weight: 400;
  }
  
  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: black;
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }
  
  nav a:hover::before {
    transform: scale(1,1);
  }

  /*About Me Section*/



/* .row{
    width: 100%;
    display: flex;
}
.col-md-half{  
    width:50%;  
} */

/* .col-md-half h2{  
    font-family: 'Lato', sans-serif;
    font-size: 35px; 
    margin:0;
    line-height: 45px;
}
.col-md-half p, a{  
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    line-height: 25px;
}

.col-md-half a{
    font-weight: 400;
    text-decoration: none;
    background-image: linear-gradient(45deg,rgb(243, 124, 76),rgb(231, 42, 8));   
    border-radius: 4px;
    color: white;
} */


.fas{
    font-size: 16px;

}


}


